.action-sheets-basic-page {
  position: relative;


  ion-grid{
   width: 100%;
    height: 100%;
  }

  ion-col{
    height: 100%;
    font-size: 2em;
    background-color: #3DBEC9;
    border: 1px solid #e6e9ee;
    color: white;
    border-radius: 2px;
    text-align: center;
  }
}
