$size: 1em;
$color: #e04020;
$metal: #d5d5d5;

page-game {
  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }
  .ion-md-heart-outline {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }

  .knop {
    position: absolute;
    border-radius: 50%;
    height: 5%;
    width: 5%;
  }

  .currentPlayer {
    div {
      text-align: center;
    }
    margin-bottom: 1em;
  }

  #content {
    position: relative;
    width: 95vw;
    height: 95vw;
  }

  #outer-circle {
    background: #385a94;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: relative;

  }
  #inner-circle {
    position: absolute;
    background: #a9aaab;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
  }

  #inner-circle2 {
    position: absolute;
    background: cadetblue;
    border-radius: 50%;
    height: 60%;
    width: 60%;
    top: 20%;
    left: 20%;
  }

  #inner-circle3 {
    position: absolute;
    background: darkblue;
    border-radius: 50%;
    height: 40%;
    width: 40%;
    /*
     Put top edge and left edge in the center
    */
    top: 30%;
    left: 30%;
  }

  #inner-circle4 {
    position: absolute;
    background: cornflowerblue;
    border-radius: 50%;
    height: 20%;
    width: 20%;
    /*
     Put top edge and left edge in the center
    */
    top: 40%;
    left: 40%;
  }

  ion-item {
    position: relative;
    left: 0 !important;
  }

  ion-list {
    margin-top: 1em !important;
  }

}
