<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title>Game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="content">

    <div id="outer-circle">
      <div id="inner-circle">
        <span id="inside-content"></span>
        <div id="inner-circle2">
          <span id="inside-content2"></span>
          <div id="inner-circle3">
            <span id="inside-content3"></span>
            <div id="inner-circle4">
              <span id="inside-content4"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button *ngFor="let card of cards;  let i = index;"
            (click)="presentActionSheet(card)" class="knop"
            [ngStyle]="isGood ? drawCirclePoints(i) : goodStyles[i]">
    </button>

  </div>


  <ion-list>
    <div *ngFor="let card of cards; let i = index;">
      <app-card [style]="goodStyles[i]" (click)="presentActionSheet(card)" [vCard]="card"></app-card>
    </div>

    <!-- <ion-item *ngFor="let card of cards; let i = index;"
    [ngStyle]="goodStyles[i]"
                 " ">
         <ion-thumbnail item-start>
           <img *ngIf="card.pictureId != null && card.pictureId != ''" src="{{imgurl(card)}}" >
         </ion-thumbnail>*/
         <h2> {{card.text}}</h2>
       </ion-item>-->
  </ion-list>
</ion-content>
